<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919012844003-pcb7v9mc77k00qhq6em4tkv9llcogpab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919012844003-pcb7v9mc77k00qhq6em4tkv9llcogpab</string>
	<key>API_KEY</key>
	<string>AIzaSyBqs0fXnlw8mfVt_jtXJ6GEZQ3SZn4X1mE</string>
	<key>GCM_SENDER_ID</key>
	<string>919012844003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hdh.RestaurantManager-DATN</string>
	<key>PROJECT_ID</key>
	<string>restaurantmanager-datn</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantmanager-datn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919012844003:ios:8404262de4026c440b00d6</string>
	<key>DATABASE_URL</key>
	<string>https://restaurantmanager-datn.firebaseio.com</string>
</dict>
</plist>